@import 'bootstrap/scss/bootstrap';
/* variables */
:root {
	/* colors */
	--the-project-color: rgba(173, 0, 225, 0.7);
	--the-project-inbox: rgba(82, 10, 108, 1);
	--the-project-outbox: rgba(68, 21, 90, 1);

	--the-research-color: rgba(223, 2, 154, 0.7);
	--the-research-inbox: rgba(223, 2, 154, 0.5);
	--the-research-outbox: rgba(223, 2, 154, 0.5);

	--the-pratice-color: rgba(240, 2, 14, 0.7);
	--the-pratice-degrade: rgba(240, 2, 14, 0.5);
	--the-pratice-inbox: rgba(240, 2, 14, 0.7);
	--the-pratice-outbox: rgba(240, 2, 14, 0.4);

	--the-tutorial-color: rgba(253, 91, 0, 0.7);
	--the-tutorial-inbox: rgba(200, 79, 13, 1);
	--the-tutorial-outbox: rgba(147, 67, 27, 1);

	--clues-color: rgba(255, 139, 0, 0.7);
	--clues-degrade: rgba(255, 139, 0, 0.5);

	--clues-border: 2px solid rgba(255, 139, 0, 0.7);
	--clues-border-nav: 2px solid rgba(128, 128, 128, 0.5);
	--clues-border-estudo: 1px solid rgba(255, 139, 0, 0.7);

	--bg-app: #1c1f26;

	--bg-nav: #1d1e28;
	--bg-nav-collapse: #1d1e28da;
	--borders-nav: 15px solid #1a1b24;

	--border-main: 1px solid #8e8f94;

	--bg-layer-top: #282a36;
	--bg-layer-center: rgb(40, 42, 54);
	--bg-degrade-layer-center: linear-gradient(
		180deg,
		rgba(40, 42, 54, 1) 37%,
		rgba(29, 30, 40, 1) 77%
	);

	/* font styles */
	--font-thin: 100;
	--font-extra-light: 200;
	--font-light: 300;
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-black: 900;

	/* fonts sizes */
	--font-size-nav: 1.2em;
	--font-size-h1: 2.4em;
	--font-size-h2: 1.5em;
	--font-size-h3: 0.8em;
	--font-size-h4: 1em;
	--font-size-p: 0.9em;
	--font-size-light: 0.9em;

	/* font colors */

	--font-color-nav: #7d7d7d;
	--font-color-h1: #5d5e63;
	--font-color-p: rgba(255, 255, 255, 0.5);
	--font-color-h2: rgba(255, 255, 255, 0.5);
	--font-color-link: rgba(255, 255, 255, 0.5);
	--font-color-hover: rgba(255, 255, 255, 0.7);
}

title {
	font-family: 'Encode Sans';
	font-weight: var(--font-black);
	font-size: var(--font-size-h1);
	color: var(--font-color-h1) !important;
}

p {
	font-family: 'Encode Sans';
	font-weight: var(--font-regular);
	font-size: var(--font-size-p);
	color: var(--font-color-p) !important;
}

.large-line-height {
	line-height: 1.7;
}

a {
	font-family: 'Encode Sans';
	font-weight: var(--font-semi-bold);
	color: var(--font-color-link) !important;
}
a:hover {
	color: var(--font-color-hover) !important;
}

strong {
	font-family: 'Encode sans';
	font-weight: var(--font-semi-bold);
	color: rgb(255, 255, 255, 0.7) !important;
}

b {
	font-family: 'Encode sans';
	font-weight: var(--font-bold);
	color: rgb(255, 255, 255, 0.7) !important;
}

h2 {
	font-family: 'Encode Sans';
	font-weight: var(--font-semi-bold);
	font-size: var(--font-size-h2) !important;
	color: var(--font-color-h2);
}

h3 {
	font-family: 'Encode Sans';
	font-weight: var(--font-semi-bold);
	font-size: var(--font-size-h3) !important;
}

h4 {
	font-family: 'Encode Sans';
	font-weight: var(--font-semi-bold);
	font-size: var(--font-size-h4) !important;
}
html {
	/* overflow: hidden; */
	background-color: var(--bg-app);
}
