@import 'bootstrap/scss/bootstrap';
/* variables */
:root {
	/* colors */
	--the-project-color: rgba(173, 0, 225, 0.7);
	--the-project-inbox: rgba(82, 10, 108, 1);
	--the-project-outbox: rgba(68, 21, 90, 1);

	--the-research-color: rgba(223, 2, 154, 0.7);
	--the-research-inbox: rgba(223, 2, 154, 0.5);
	--the-research-outbox: rgba(223, 2, 154, 0.5);

	--the-pratice-color: rgba(240, 2, 14, 0.7);
	--the-pratice-degrade: rgba(240, 2, 14, 0.5);
	--the-pratice-inbox: rgba(240, 2, 14, 0.7);
	--the-pratice-outbox: rgba(240, 2, 14, 0.4);

	--the-tutorial-color: rgba(253, 91, 0, 0.7);
	--the-tutorial-inbox: rgba(200, 79, 13, 1);
	--the-tutorial-outbox: rgba(147, 67, 27, 1);

}




